<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @libation.user %>
</p>

<p>
  <strong>Libation name:</strong>
  <%= @libation.libation_name %>
</p>

<p>
  <strong>Libation type:</strong>
  <%= @libation.libation_type %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @libation.weight %>
</p>

<p>
  <strong>Weight type:</strong>
  <%= @libation.weight_type %>
</p>

<p>
  <strong>Container type:</strong>
  <%= @libation.container_type %>
</p>

<p>
  <strong>Country made:</strong>
  <%= @libation.country_made %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @libation.company_name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @libation.website %>
</p>

<p>
  <strong>Date drank:</strong>
  <%= @libation.date_drank %>
</p>

<p>
  <strong>Store purchased:</strong>
  <%= @libation.store_purchased %>
</p>

<p>
  <strong>City purchased:</strong>
  <%= @libation.city_purchased %>
</p>

<p>
  <strong>Prov purchased:</strong>
  <%= @libation.prov_purchased %>
</p>

<p>
  <strong>Country purchased:</strong>
  <%= @libation.country_purchased %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @libation.colour %>
</p>

<p>
  <strong>Pulp:</strong>
  <%= @libation.pulp %>
</p>

<p>
  <strong>Can art:</strong>
  <%= @libation.can_art %>
</p>

<p>
  <strong>Can design:</strong>
  <%= @libation.can_design %>
</p>

<p>
  <strong>Sweet:</strong>
  <%= @libation.sweet %>
</p>

<p>
  <strong>Juice:</strong>
  <%= @libation.juice %>
</p>

<p>
  <strong>Sip guzz:</strong>
  <%= @libation.sip_guzz %>
</p>

<p>
  <strong>Flavour:</strong>
  <%= @libation.flavour %>
</p>

<p>
  <strong>Buy again:</strong>
  <%= @libation.buy_again %>
</p>

<p>
  <strong>Carbonated:</strong>
  <%= @libation.carbonated %>
</p>

<p>
  <strong>Image:</strong>
  <%= @libation.image %>
  <!-- <%= image_tag(@libation.image.url, alt: 'Image') if @libation.image? %> -->
  <%= image_tag(@libation.image.medium.to_s) %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @libation.comments %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_libation_path(@libation) %> |
  <%= link_to 'Back', libations_path %>
<% else %>
  <%= link_to 'Libations', root_path %>
<% end %>
